.cfs-logo {
  height: 80px;
  width: 80px;
  margin-top: -15px;
}

.page-header {
  overflow: auto;
}

.project-thumbnail {
  overflow: hidden;
}

.project-thumbnail img {
  max-width: 100%;
  max-height: 300px;
}

.tag-cloud {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}
